/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --main-padding: 100px;
}
/* End Variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* smull */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */

/* Start Components  */
.main-heding {
  text-align: center;
}
.main-heding h2 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 70px;
  text-transform: uppercase;
  position: relative;
}
.main-heding h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 120px;
  background-color: #333;
  bottom: -30px;
}
.main-heding h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 14px;
  width: 14px;
  border: 2px solid #333;
  bottom: -38px;
  border-radius: 50%;
  background-color: white;
}
.main-heding p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* End Components  */

/* Stsrt Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 97px;
}
header .container img {
  height: 40px;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
}
header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
}
header nav ul li a {
  padding: 40px 10px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
header nav ul li a:hover,
header nav ul li a:active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .form {
  margin-left: 30px;
  width: 40px;
  height: 30px;
  position: relative;
  border-left: 1px solid white;
}
header nav .form i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
nav .toggle-menu {
  display: none;
  color: white;
  font-size: 22px;
}
@media (max-width: 768px) {
  nav .toggle-menu {
    display: block;
  }
  nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  nav .toggle-menu:hover + ul li a {
    padding: 15px;
  }
  header nav ul {
    display: none;
  }
}
/* End Header */

/* Stert Landing */
.landing {
  min-height: 100vh;
  background-image: url(../image/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
  color: white;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .change-bachground {
    display: none;
  }
  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 1.5;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .three {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.landing .three li {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
.landing .three .active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.landing .change-bachground {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .fa-angle-left {
  left: 30px;
}
/* End Landing */

/* Start Services */
.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
@media (min-width: 767px) {
  .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .serv-box {
  display: flex;
}
.services .serv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .serv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .serv-box i {
    margin: 0 0 30px;
  }
}
.services .serv-box h3 {
  color: var(--m ain-color);
  margin-bottom: 30px;
}
.services .serv-box p {
  line-height: 2;
  color: #777;
}
/* End Services */

/* Start Design */
.design {
  position: relative;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  height: 600px;
  display: flex;
  background-image: url(../image/design.jpg);
  background-size: cover;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.design .image {
  position: relative;
  text-align: center;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image,
.design .text {
  flex: 1;
  z-index: 2;
}
.design .image img {
  height: 500px;
  position: relative;
  bottom: -170px;
}
.design .text {
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
}
.design .text h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 40px;
}
.design .text ul li {
  margin: 15px 0;
}
.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* End Design */

/* Start Portfolio */
.portfolio {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.portfolio .shule {
  display: flex;
  margin: 20px auto;
  justify-content: center;
}
.portfolio .shule li {
  padding: 10px 15px;
}
.portfolio .shule .active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .gallery {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}
.portfolio .gallery .box {
  position: relative;
  overflow: hidden;
}
.portfolio .gallery .box:hover .text {
  bottom: 0;
}
@media (min-width: 767px) {
  .portfolio .gallery .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1191px) {
  .portfolio .gallery .box {
    flex-basis: 25%;
  }
}
.portfolio .gallery .box img {
  transition: 0.3s;
  max-width: 100%;
}
.portfolio .gallery .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
.portfolio .gallery .box .text {
  background-color: white;
  position: absolute;
  bottom: -150px;
  width: 100%;
  transition: 0.3s;
}
.portfolio .gallery .box .text h4 {
  font-weight: normal;
  margin: 10px;
}
.portfolio .gallery .box .text p {
  margin: 10px;
  color: var(--main-color);
}
.portfolio a {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  margin: o;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-transform: uppercase;
}
/* End Portfolio */

/* Start Video  */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.video video {
  width: 100%;
}
.video .text {
  width: 100%;
  background-color: var(--transparent-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  text-align: center;
  color: white;
}
.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* End Video  */

/* Start About  */
.abuot {
  padding-top: var(--main-padding);
  text-align: center;
  overflow: hidden;
}
.abuot img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .abuot img {
    bottom: -70px;
    margin-top: -70px;
  }
}
/* End About  */

/* Start Stat */
.stat {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  text-align: center;
  background-image: url(../image/stat.jpg);
  background-size: cover;
  position: relative;
}
.stat::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.stat .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  color: white;
}
.stat .box {
  background-color: var(--transparent-color);
  padding: 50px;
}
@media (max-width: 767px) {
  .stat .box {
    flex-basis: 100%;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--main-color);
  }
}
@media (min-width: 768px) {
  .stat .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1191px) {
  .stat .box {
    flex-basis: 25%;
  }
}
.stat .box i {
  background-color: black;
  margin: 0 0 30px;
  padding: 10px;
  border-radius: 50%;
}
.stat .box .number {
  font-weight: bold;
  font-size: 50px;
  margin: 0 0 20px;
}
.stat .box p {
  font-size: 14px;
}
/* End Stat */

/* Our Skills */

.our-skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.our-skills .container > div {
  flex-basis: 45%;
}
.our-skills .container > div > h3 {
  font-weight: normal;
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
}
.our-skills .container > div > p {
  line-height: 2;
  color: #777;
  text-align: center;
  margin: 0 0 60px;
}
.our-skills .TESTIMONIALS .content {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
@media (max-width: 767px) {
  .our-skills .container > div {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .our-skills .TESTIMONIALS .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .TESTIMONIALS .content img {
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto 20px;
  }
}
@media (min-width: 768px) {
  .our-skills .container > div {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .our-skills .TESTIMONIALS .content img {
    margin-right: 50px;
  }
}
@media (min-width: 991px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .TESTIMONIALS .content img {
  width: 100px;
  border-radius: 50%;
}
.our-skills .TESTIMONIALS .content .text {
  border-bottom: 1px solid rgb(204, 204, 204);
  line-height: 1.8;
}
.our-skills .TESTIMONIALS .content .text p {
  color: #777;
  text-align: right;
  margin-bottom: 10px;
  font-size: 14px;
}
.TESTIMONIALS .bullts {
  display: flex;
  justify-content: center;
}
.TESTIMONIALS .bullts li {
  height: 20px;
  width: 20px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 50%;
  margin-right: 10px;
}
.TESTIMONIALS .bullts .active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
  margin: 0 0 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
  width: 100%;
  height: 30px;
  background-color: rgb(222, 218, 220);
}
.our-skills .skills .prog-holder .prog span {
  position: relative;
  height: 100%;
  width: 80%;
  background-color: var(--main-color);
  display: block;
}
.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background: black;
  color: white;
  right: -18px;
  top: -40px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: black transparent transparent;
  right: -9px;
  top: -14px;
}
/* End Skills */

/* Start Quote */
.quote {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url(../image/shuffle-08.jpg);
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.quote .container {
  position: relative;
}
.quote .container q {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}
/* End Quote */

/* Start Pricing */
.pricing {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  background: #fcfcfc;
  text-align: center;
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .plans .plan .head span::before {
  content: "$";
  position: relative;
  font-size: 25px;
  bottom: 40px;
  margin-right: 15px;
  font-weight: normal;
}
.pricing .plans .plan .head span::after {
  content: "/mo";
  position: relative;
  font-size: 20px;
  left: 15px;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
  position: relative;
  padding: 20px;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 135px;
  background-color: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.pricing .plans .plan .foot a {
  text-decoration: none;
  padding: 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  border: 1px solid var(--main-color);
}
.pricing .contact-text {
  text-align: center;
  font-size: 20px;
  margin: 50px 0 20px;
}
.pricing .contact-link {
  padding: 15px 30px;
  margin: 20px auto;
  display: block;
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
  width: fit-content;
  text-transform: capitalize;
}
/* End Pricing */

/* Start Subscribe */
.subscribe {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-image: url(../image/portfolio3.jpg);
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.subscribe .container {
  position: relative;
  display: flex;
  text-align: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  width: 500px;
  position: relative;
  max-width: 100%;
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  color: white;
  border-right: none;
  width: calc(100% - 130px);
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 25px;
}
.subscribe form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  border-left: none;
  width: 130px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.subscribe p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
  }
}
/* End Subscribe */

/* Start Contact  */
.contact {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-bottom {
  padding: 20px;
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.contact .content form textarea {
  height: 200px;
}
.contact .content form input[type="submit"] {
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
}
.contact .content span {
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.contact .content h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content h4:nth-of-type(2) {
    margin-top: 35px;
  }
}
.contact .content address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content address {
    margin-bottom: 35px;
  }
}
/* End Contact  */

/* Start Footer  */
.footer {
  padding-top: calc(var(--main-padding) / 2);
  padding-bottom: calc(var(--main-padding) / 2);
  background-image: url(../image/landing.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 30px;
}
.footer p:not(.copy-right) {
  text-transform: uppercase;
  font-size: 22px;
  border-bottom: 1px solid white;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}
.footer .social-icon i {
  padding: 20px;
}
.footer .copy-right {
  margin-top: 90px;
}

.footer .copy-right span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer  */
